.book {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: darkgray;
  width: 55%;
  margin: 30px auto 5px auto;
}

.book-holder {
  text-align: left;
  margin: auto 0 auto 40px;
}

.book-button {
  height: 70px;
  width: 20%;
  margin: auto 30px auto 0;
  border-radius: 50px;
}

h2 {
  width: 170px;
}
