.headsection {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;;
}

.inner-head {
  display: flex;
}

.heading {
  margin-left: 1.5vw;
  color: #0290ff;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.list-item {
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-right: 10px;
}

.list-img {
  border-radius: 50%;
  /* background-color: #e8e8e8; */
  width: 1.813rem;
  height: 1.813rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  margin-right: 3vw;
  background-image: url('../logoin.jpeg');
}
