body {
  padding-bottom: 200px;
  background-color: #f5f6fa;
}

.textheading {
  text-align: left;
  width: 21%;
  margin: 70px auto 30px 9vw;
}

.input-title {
  width: 28%;
  height: 30px;
  margin-right: 12px;
  border-radius: 5px;
}

.input-submit {
  width: 10%;
  height: 35px;
  margin-right: 12px;
  border-radius: 8px;
  color: #fff;
  background-color: blue;
}

.input-category {
  width: 10%;
  min-height: 90px;
  margin-right: 12px;
}

.inputdiv {
  background-color: #f5f6fa;
  padding: 70px 0 30px 0;
}
